.preloader{
    z-index: 9999;
    width: 100vw;
    height: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100vh;
    pointer-events: none;
}

.preloader-styles{
    display: none;
}

.container.preloader__container{
    z-index: 4;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preloader__figure {
    width: 103px;
    height: 200px;
    opacity: 0;
    align-items: flex-start;
    display: flex;
    position: relative;
    transform: rotate(180deg);
}

.preloader__content, .preloader__figure {
    animation-name: logo-appear;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

.preloader__figure.absolute {
    display: flex;
    position: absolute;
}

.preloader__hiding-box {
    animation-name: logo-loading;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    width: 100%;
    height: 100%;
    position: relative;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
    overflow: hidden;
}

.preloader__icon-wrapper.active-element {
    z-index: 1;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}
.preloader__icon-wrapper {
    color: var(--color-logo-secondary-background);
}
.preloader__icon-wrapper {
    width: 103px;
    height: 200px;
    position: absolute;
}

.preloader__icon-wrapper.default-element {
    z-index: 0;
}

.preloader__content, .preloader__figure {
    animation-name: logo-appear;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

.preloader__content {
    width: 100%;
    height: 100%;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-end;
    display: none;
}

.preloader__text-wrapper {
    width: 100%;
    grid-column-gap: 3rem;
    color: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
}

.preloader__text {
    letter-spacing: -.03em;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 110%;
}

.preloader__value-wrapper {
    display: flex;
}

.heading-xxl {
    letter-spacing: -.07em;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12rem;
    font-weight: 600;
    line-height: 90%;
    display: flex;
}

@media screen and (min-width: 1920px) {
.heading-xxl, .heading-xxl.preorder-hero__heading {
    font-size: 15rem;
}
}

.preloader__progress-wrapper {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-top: 5.5rem;
    margin-bottom: 12.5rem;
    position: relative;
}

.preloader__progressbar {
    width: 0%;
    height: 100%;
    background-color: #e9350b;
    transition: none;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}

.bg {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
    overflow: hidden;
}

.headline{
    font-size: 5.75rem;
    display: flex;
    flex-direction: column;
    line-height:92%;
    font-weight: 600;
}

.sub-title {
    color: #fff;    
    letter-spacing: -.03em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
    padding-top: 1.25rem;
}

section {
    z-index: 2;
}

.sc-visual {
    padding-top: 18rem;
    padding-bottom: 12.5rem;
    position: relative;
    overflow: hidden;
    background-color: #2c2f33;
    background-image: none;
    background-position: 0 0;
}

.sc-visual .bg {
    z-index: 0;
    width: 120%;
    height: 120%;
    max-width: none;
    /* object-fit: cover; */
    object-position: 50% 50%;
    margin-left: -10%;
    position: absolute;
    top: -20%;
}

.sc-visual .bg  .dimmed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
    z-index: 1;
    opacity: 0;
}
.sc-visual .bg img{
    width: 100%;
    height:120%;
    object-fit: cover;
}
.sc-visual .common-inner{
    display: grid;
    position: relative;
    z-index: 1;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

.headline-wrap {
    position: relative;
}

.sc-visual .col-left .headline {
    font-size: 15rem;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 90%;
    letter-spacing: -.07em;
    color: #fff;
}

.sc-visual .col-left {
    grid-area: 1 / 1 / 2 / 3;
}

.col-left .category-box{
    position: relative;
    max-width: 600px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5.25rem;
    padding-top: 1.25rem;
    display: flex;
    position: relative;
}

.main .col-left .line {    
    top: 0;
    left: 0;
}


.category-box .text {
    color: #fff;
    font-weight: 500;
    letter-spacing: -.03em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 150%;    
}

.sc-visual .col-right{
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    z-index:2;
}

.col-right .title-wrap {
    width: 74%;
    position: relative;
}

.sub-title-box {   
    width : 74%;
    margin-top: 3.5rem;   
}

.group-btn {
    grid-row-gap: 2rem;
    align-items: flex-start;
    margin-top: 2.5rem;
    grid-column-gap: 2.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-bottom: 1rem;
    display: grid;
}

.btn-wrap {
    position: relative;
}

.btn {  
    color: #373a3d;
    text-align: center;
    letter-spacing: -.04em;
    cursor: pointer;
    background-color: #fff;
    border-radius: 2000px;
    justify-content: center;
    align-items: center;
    padding: 1.75rem 3rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 90%;
    text-decoration: none;
    transition: background-color .2s, color .3s;
    display: flex;
    position: relative;
    overflow: hidden;
}

.btn-point{
    color: #fff;
    margin-bottom: 2rem;
    background-color: #ff5a24;    
}

.btn-desc {
    letter-spacing: -.04em;
    margin-top: 1.25rem;
    margin-bottom: 0;
    font-size: .875rem;
    line-height: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    color:#fff;
}


.scroll-to-explore {
    margin-bottom: 26rem;
    transition: opacity .3s, top .3s;
    display: block;
    position: relative;
    top: 0;
    margin-top: 23.5rem;
    letter-spacing: -.03em;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 110%;
    margin-left: auto;
    color: #fff;
}

.desc-wrap {
    width: 74%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3.75rem;
    display: flex;
    color: #fff;
}

.rotating-star {
    width: 20px;
    height: 23px;
    animation-name: rotateElement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #ff5a24;
}

.desc-wrap .headline {
    color: #ff5a24;
    letter-spacing: -.05em;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 110%;
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
}

.desc-wrap .text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 150%;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.link-more {
    position: relative;
    color: #fff;
    letter-spacing: -.04em;
    font-size: 1.25rem;
    line-height: 90%;
    text-decoration: none;
    transition: all .3s;
    position: relative;
    font-weight: 500;
    margin-top: 3.75rem;
}

.link-more:before , .link-more:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: -5px;
    transition: all 0.3s ease;
}

.link-more:before{    
    left:0;
    width: 100%;
    background: #fff;
}

.link-more::after {
    width: 0%;
    background:#ff5a24;
    left: auto;
    right: 0;
  }
  

.link-more:hover{
    color: #ff5a24;
}

.link-more:hover::before {
  left: 0;
  width: 100%;
  background:#ff5a24;
}

.link-more:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

@keyframes rotateElement {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  
  .sc-detection {
    color: #fff;
    background-color: #2c2f33;
    padding-top: 12.5rem;
    position: relative;
  }
  
  .bg-detection {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .bg-detection .bg-wrapper {
    margin-top: 2.25rem;
    margin-right: -16%;
  }

  .bg-detection .bg-wrapper .bg-detection-image{
    width: 724px;
  }

  .group-headline{
    grid-column-gap: 1.25rem;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    justify-items: start;
    display: grid;
    font-size: 5.75rem;
    letter-spacing: -.07em;
    margin-bottom: 7.5rem
  }

  .group-headline .headline {
    grid-area: 1 / 1 / 2 / 3;
}

  .sub-area {
    position: relative;
    width: 74%;
    padding-top: 1.625rem
  }

.desc {
    margin-top: 6rem;
}

.video-area {
    z-index: 3;
    width: 100%;
    position: relative;
    transform: translate(0, 8.25rem);
}

.video-box {
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.video-wrapper {
    z-index: 3;
    height: 100%;
    width: 50%;
    min-width: 57%;
    max-width: 100%;
    margin-left: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    
}

.video-area .circle {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background: 10;   
    pointer-events: none;
}

.video-area .circle .real {
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #ff5a24;
}


.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover
}
.sc-sensor {
    z-index: 0;
    background-color: #e2e2e4;
}

.sensor-area {
    padding-top: 20.875rem;
    padding-bottom: 12.5rem;
    overflow: hidden;
}

.sc-sensor .sub-title {
    color: #333;
}

.sc-sensor .sub-title.headline {
    color: #73888c;
}

.sc-sensor .sensor-headline{
    grid-row-gap: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-right: 8rem;
}

.sc-sensor .sub-area{
    width: 74%;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.sc-sensor .number{
    display: flex;
}

.sc-sensor .number .text{
    color: #ff5a24;
    margin-top: 2rem;
    margin-bottom: 2.25rem;    
    font-size: 10rem;
    font-weight: 700;
    line-height: 80%;
}

.sc-sensor .desc{
    position: relative;
    margin-top: 0;
}

.sc-sensor .desc .line{
    background-color: #73888c;
}

.group-card{
    /* margin-left: 1.25rem; */
    margin-right: 1.25rem;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
}


.sensor-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: max-content !important;
    row-gap: 1.25rem;
}

.group-card .card-wrap{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 66%;
    margin-left: auto;
    margin-right: -1.25rem;
    padding: 0;
}

.group-card .card-wrap:nth-child(even){
   justify-content: flex-start;
   margin-left: 0 !important;
   margin-right: auto !important;
   
}

.group-card .image-box {
    width: 50%;
    z-index: 0;    
    position: absolute;
    border-radius: 2.5rem;
    overflow: hidden;
    margin-left: 0;
    margin-right: 1.25rem;
}

.group-card .card-wrap:nth-child(even) {
    margin-left: -1.25rem;
    margin-right: auto;
}

.group-card .card-wrap:nth-child(even) .image-box{
    margin-left: 1.25rem;
    margin-right: 0;
   
}

.group-card .image-box .image{
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    padding-top: 100%;
    position: relative; 
}

.group-card .image-box .sensor-card-image{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.group-card .desc-box{
    z-index: 1;
    width: 50%;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    margin-left: 0;
    border-radius: 0;
}

.group-card .desc-box-inner{
    background-color: #fff;
    padding-top: 100%;
    width: 100%;
    border-radius: 2.5rem;
    position: relative;
    overflow: visible;    
}

.group-card .desc-box-con{
    overflow: visible;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    font-family: Manrope, sans-serif;
    font-weight: 600;
    display: flex;  
    padding: 2.5rem 2.5rem 3.75rem;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.group-card .desc-box .top{}
.group-card .desc-box .sensor-card-icon{}
.group-card .desc-box .card-name{
    letter-spacing: -.05em;
    margin-top: 2.5rem;
    line-height: 3.25rem;
    color: #ff5a24;
    font-size: 2.5rem;
}
.group-card .desc-box .bottom{
    margin-top: 5rem;
    padding-right: 2rem;
}
.group-card .desc-box .card-desc-name{
    color: #2c2f33;
    letter-spacing: -.05em;
    font-size: 1.5rem;
    line-height: 120%;
    margin-bottom: 2rem;
}
.group-card .desc-box .card-desc{
    color: #73888c;
    letter-spacing: -.03em;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 150%;
} */

.sc-sensor .btn-box{
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    display: flex;
}

/* .group-card{
    margin-left: 1.25rem;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
}

.group-card .swiper{}
.group-card .swiper-wrapper{
    color: #333;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    display: flex;
}
.group-card .sensor-card{
    max-width:100%;
    width: 66.66%;
    color: #333;
    margin-bottom: 1.25rem;
    margin-right: -1.25rem;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    margin-left: auto;
    margin-right: 0rem !important;
    width: 66% !important;

}

.group-card .card-wrap{
    position: relative;
    display: flex;
    grid-column-gap: 1.25rem;
    color: #333;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
    padding: 0;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.sensor-card:nth-child(even) .card-wrap {
    justify-content: flex-start;
    margin-left: -1.25rem !important;
    margin-right: auto !important;
}

.group-card .image-box{
    width: 50%;
    color: #333;
    border-radius: 2.5rem;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    position: absolute;
    overflow: hidden;
}

.sensor-card:nth-child(even) .image-box{
    margin-left: 1.25rem;
    margin-right: 0;
}

.group-card .image-box .image{
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    padding-top: 100%;
    position: relative; 
}

.group-card .image-box .sensor-card-image{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

*/

.sc-app {
    color: #fff;
    background-color: #2c2f33;
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
    position: relative;
}

.sc-app .sub-title {
    color: #73888c;
    letter-spacing: -.04em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 90%;
}

.sc-app .app-headline{
    grid-row-gap: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-right: 8rem;
    grid-area: 1 / 1 / 2 / 3;
}

.sc-app .sub-area{
    width: 74%;
    flex-direction: column;
    align-items: flex-start;
    display: flex;   
}

.sc-app .desc{
    margin-top: 6rem;
    padding-top: 1.25rem;
    position: relative;
}

.sc-app .desc .line{
    background-color: #e3e3e5;
}

.sc-app .desc .sub-title{
    color: #e3e3e3;
    letter-spacing: -.03em;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 150%;
 }

 .sc-app .group-list{
    margin-top: 7.5rem;
 }


.sc-app .sticky-wrapper {
    position: relative;
}

.sc-app .app-card {
    position: sticky;
    top: 0;
    width: 100%;
    margin: 10px 0;
    width: 100%;
    height: 100vh;
    padding: 50px;
}

 .sc-app .card-wrap{
    max-height: 100%;
    /* grid-column-gap: 0.75rem; */
    background-color: #373a3d;
    border-radius: 40px;
    justify-content: space-between;
    /* margin-bottom: 4rem; */
    padding: 0.75rem;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    bottom: auto;
    overflow: hidden;
    --app-card__image-background: 50%;
    background: hsl(210deg, 10%, 24%);
 }
 .sc-app .image-box{
    width: 50%;
    margin-left: auto;
 }

 .sc-app .image-box .image{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #73888c;
    border-radius: 32px;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    position: relative;
 }

 .sc-app .image-box .app-card-image{
    width: auto;
    height: 70%;
    max-height: 80%;
    display: block;
    position: static;
    transform: none;
    border-radius: 13%/7% 7% 0 0;
 }

 .sc-app .desc-box{
    width: 50%;
    border-radius: 0;
    margin-bottom: 0;
    margin-left: 0;
    overflow: visible;   
    position: static;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: visible;
    position: relative;
    padding: 3.75rem 6.25rem 3.75rem 3.75rem;
 }

 .sc-app .card-wrap .desc-area{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    height: 100%;
 }

 .sc-app .desc-wrap .card-desc{
    z-index: 1;
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2.5rem;
    position: relative;
    /* height: 100%;  */
    color: #73888c;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 150%;
 }

 .sc-app .desc-wrap{
    width: 100%; 
}

 .sc-app .card-num{
    color: #73888c;
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    line-height: 130%;
 }

 .sc-app .card-name{
    color: #ff5a24;
    letter-spacing: -.05em;
    font-size: 2.2rem;
    line-height: 100%;
 }

 .sc-app .card-desc-name{
    letter-spacing: -.05em;
    font-size: 1.25rem;
    line-height: 120%;
 }

 .sc-app .card-desc{
    letter-spacing: -.03em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
 }

.sc-app .card-background{
    z-index: -1;
    height: 120%;
    display: block;
    position: absolute;
    top: -10%;
    bottom: 0%;
    left: auto;
    right: -10%;
}

.sc-app .overlay-box{
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: block;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}

.btn-box{
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 0;
    display: flex;
}





.sc-mission{
    position: relative;
    width: 100%;
}

.sc-mission .mission-intro {
    position: relative;
    height: 300vh;
    margin: 0;
}

.sc-mission .mission-intro .sticky-wrapper{
    position: sticky;
    top: 0;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
}

.sc-mission .mission-intro .back{
    width: 100%;
    height: 100%;
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
}

.sc-mission .mission-intro .back p{
    position: absolute;
    top: 50%;
    left: 100%;
    font-size: 11vw;
    transform: translateY(-50%);
    color: #fff;
    text-wrap: nowrap;
    
}

.sc-mission .mission-intro .back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc-mission .mission-intro .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sc-mission .mission-intro .front p{
    position: absolute;
    top: 50%;
    left: 100%;
    font-size: 11vw;
    transform: translateY(-50%);
    color: #000;
    text-wrap: nowrap;
}

.sc-mission .mission-group{
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;

    /* background: rgba(0,0,0,0.4); */
}

.sc-mission .mission-group.sticky-wrapper{
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.sc-mission .overlay-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    /* z-index: 10; */
}

.sc-mission .con-wrap{
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 10rem 0;
    transition: all .3s;
}

.sc-mission .group-headline{
    grid-column-gap: 1.25rem;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    margin-bottom: 0;
}

.sc-mission .header-inner{
    grid-area: 1 / 1 / 2 / 3;
}

.sc-mission .mission-headline{
    color: #fff;
    /* opacity: 0;
    top: -20%; */
}

.sc-mission .btn-box{
    justify-content: flex-start;
}

.sc-mission .sub-area{
    display: grid;
    grid-column-gap: 1.25rem;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    padding-top: 0;
    /* opacity: 0;
    top: -20%; */
}

.sc-mission .desc-wrap{
    width: 74%;
    position: relative;
    grid-area: 1 / 3 / 2 / 4;;
    margin-top: 0;
} 

.sc-mission .rotating-star {
    color: #fff;
}

.sc-mission .bg{
    z-index: -1;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0%;
    right: 0;
}

.sc-mission .mission-image-block{
    width: 100%;
    height: 100%;
    position: relative;
}

.sc-mission .mission-running-string{
    z-index: -2;
    width: 100%;
    height: 100vh;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
}
.sc-mission .mission-image-inner{
    width: 100%;
    height: 100%;
    position: relative;
}

.sc-mission .mission-image-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}


.sc-mission .mission-image {
    object-fit: cover;
    height: 100%;
}
.sc-mission .mission-big-image{
    width: 100%;
    height: 120%;
    -webkit-backdrop-filter: grayscale() brightness(0%) invert();
    backdrop-filter: grayscale() brightness(0%) invert();
    mix-blend-mode: color;
    object-fit: cover;
    object-position: 50% 50%;
    background-image: linear-gradient(#000, #fff);
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}

.sc-mission .linear-gradient{
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .37) 56%, rgba(0, 0, 0, .6));
    transition: opacity .3s;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}

.test {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

.sc-about{
    width: 100%;
    color: #fff;
    background-color: #2c2f33;
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
    overflow: visible;
}

.sc-about .group-headline{  
    margin-bottom: 12rem;
    display: block;
}

.sc-about .about-headline {
    grid-row-gap: 2.5rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.5rem;
    display: flex;
}

.sc-about .sub-title{
    color: #73888c;
    letter-spacing: -.04em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 90%;
}

.sc-about .about-headline .headline{
    letter-spacing: -.07em;
    font-weight: 600;
    line-height: 92%;
    font-size: 5.75rem;
    max-width: 1250px;
    display: block;
}

.sc-about .headline .point{
    display: inline-block;
    white-space: nowrap;
}

.sc-about .group-main{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    position: relative;
    height: 100%;
}

.sc-about .image-list{
    position: sticky;
    width: 32%;
    height: 100%;
    width: 560px;
    height: 560px;
    top: 0%;
    left: 0;
    top: calc(50vh - 280px);
    margin-left: 8%;
    transition: opacity .3s;
    position: -webkit-sticky;
    position: sticky;
}

.sc-about .image-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 2.5rem;
    overflow: hidden;
    transition: opacity .3s;
    opacity: 0;
}

.sc-about .image-item .image{
    height: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
    transform: scale(1.1);
}

.sc-about .con-list {
    width: 40%;
    margin-right: 36px;
}
.sc-about .list-item{
    width: auto;
    margin-right: 32px;
}


.sc-about .list-content.test {
    padding-left: 0;
    padding-right: 0;
}

.sc-about .list-box{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;   
    flex-direction: column;
    position: relative;   
}

.sc-about .list-box.test{
    padding-left: 0;
    padding-right: 0;
}

.sc-about .list-wrap {
    flex-direction: column;
    height: auto !important;
}

.sc-about .list-wrap.test{
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.sc-about .list-wrap .list-item{
    color: #73888c;
    flex-direction: column;
    justify-content: center;
    transition: color .3s;
    display: flex;
    position: relative;
    width: 50% !important;
    height: auto;
    position: static;
}

.sc-about .list-item {   
    width: 100%;
    color: #73888c;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding-top: 3.75rem;
    transition: all .3s;
    display: flex;
    position: static;
    padding-top: 3.75rem;
}

.sc-about .list-item:first-child {
    padding-top: 0;
}

.sc-about .list-item.active * {
    color: #fff;
}

.sc-about .image-item.active {
    opacity: 1;
    z-index: 3;
}

.sc-about .list-item .headline-wrap{
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.sc-about .list-item .headline-wrap .item-num{
    margin-bottom: 0;
    position: absolute;
    top: 17px;
}

.sc-about .list-item .headline-wrap .item-headline{
    letter-spacing: -.05em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5.25rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 130%;
}

.sc-about .list-item .item-desc{
    letter-spacing: -.03em;
    margin-top: 2rem;
    margin-bottom: 3.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 150%;
}

.sc-about .line {
    width: 100%;
    position: relative;
    background-color: #73888c;
}




/* 
.sc-about .list-content.test {
    padding-left: 0;
    padding-right: 0;
}

.sc-about .list-box{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;   
    flex-direction: column;
    position: relative;   
}

.sc-about .list-box.test{
    padding-left: 0;
    padding-right: 0;
}

.sc-about .list-wrap {
    flex-direction: column;
    height: auto !important;
}

.sc-about .list-wrap.test{
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.sc-about .list-wrap .list-item{
    color: #73888c;
    flex-direction: column;
    justify-content: center;
    transition: color .3s;
    display: flex;
    position: relative;
    width: 50% !important;
    height: auto;
    position: static;
}

.sc-about .list-item.test{
    width: 50%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    position: static;
    width: 50% !important;
}

.sc-about .list-item .item-content{   
    width: 100%;
    color: #73888c;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding-top: 3.75rem;
    transition: color .3s;
    display: flex;
    position: static;
    padding-top: 3.75rem;
}

.sc-about .list-item:first-child .item-content{
    padding-top: 0;
}

.sc-about .list-item .image-box{
    z-index: -1;
    width: 32%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    margin-left: 5%;
    opacity: 0;
}

.sc-about .list-item.active * {
    color: #fff;
}
.sc-about .list-item.active .image-box{
    opacity: 1;
    display: block;
}

.sc-about .list-item .image-box .image-wrap{   
    top: 50vh;
    overflow: hidden;   
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 100%;
    transition: opacity .3s;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 5%;
}


.sc-about .list-item .image-box .item-image {
    object-fit: cover;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
    object-position: 50% 50%;
}

.sc-about .list-item .image-box .image-wrap.test{
    z-index: 2;
    width: 320px;
    height: 320px;
    border-radius: 2.5rem;
    align-items: flex-start;
    margin-left: 0;
    padding-top: 0%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    top: calc(50vh - 280px);
    width: 500px;
    height: 500px;
}


.sc-about .list-item .image-box .item-image.test{
    height: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
    position: absolute;
    transform: scale(1.1);
}

.sc-about .list-item .headline-wrap{
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.sc-about .list-item .headline-wrap .item-num{
    margin-bottom: 0;
    position: absolute;
    top: 17px;
}

.sc-about .list-item .headline-wrap .item-headline{
    letter-spacing: -.05em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5.25rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 130%;
}

.sc-about .list-item .item-desc{
    letter-spacing: -.03em;
    margin-top: 2rem;
    margin-bottom: 3.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 150%;
}

.sc-about .line {
    width: 100%;
    position: relative;
} */


.discount-area{
    display: flex;
    z-index: 1;
    grid-row-gap: 3rem;
    background-color: #373a3d;
    border-radius: 2.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding: 3.75rem 5rem;
    display: flex;
    position: relative;
    margin-top: 12rem;
}

.discount-area .headline-wrap{
    width: 30%;
}

.discount-area .headline-wrap .headline{
    letter-spacing: -.05em;
    margin-top: 1.75rem;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 130%;
}

.discount-area .desc-wrap{
    grid-row-gap: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    width: auto;
    margin-top: 0;
    max-width: 30%;
}

.discount-area .desc-wrap .step-list{
    grid-row-gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;   
}

.discount-area .desc-wrap .step-list li{
    letter-spacing: -.03em;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 130%;
    counter-increment: steps 1;
}

.discount-area .desc-wrap .step-list li:before{
    content: "0" counter(steps) ".";
}

.btn-discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 1rem;
}

.btn-discount .btn{
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-discount .btn-point{
    color: #fff;
    white-space: nowrap;
    background-color: #ff5a24;
    font-weight: 500;
    margin-bottom: 0;
}

.btn-discount .btn-desc{
    color: #73888c;
    letter-spacing: -.04em;
    margin-bottom: 0;
    font-size: .875rem;
    line-height: 92%;
    display: block;
    position: relative;
    margin-top: 0;
}
